table.table-bordered {
  border: 5px solid white;
  margin-top: 20px;
}
.pad15 {
  padding-left: 4%;
  padding-right: 4%;
}
table {
  text-align: center;
  table-layout: fixed;
}
table.table-bordered tr {
  height: 45px;
}
table.table-bordered tr > th {
  border: 5px solid white;
  background-color: black;
  color: white;
  width: 14%;
}
table.table-bordered > tr > td {
  background-color: #eff5f4;
  color: black;
  border: 5px solid white;
}
.table-striped {
  background-color: #eff5f4;
}

.add {
  cursor: pointer;
  font-size: 25px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.heading {
  padding-top: 4%;
  padding-left: 10px;
  font-weight: bold;
}
.report {
  padding-top: 2%;
  padding-left: 10px;
}
hr {
  text-align: center;
  color: gray;
  height: 5px;
  display: block;
}

.header {
  font-family: "Karla";
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.875px;
  color: black;
  padding-left: 0.2%;
}

