<app-profile-card></app-profile-card> <br /><br />
<app-tec-indicator-table></app-tec-indicator-table>
<app-market-summary></app-market-summary>
<app-share-pattern></app-share-pattern>
<app-comparison-table></app-comparison-table>
<app-other-indicators></app-other-indicators>
<div>
  <div class="row">
    <div class="col-md-2 report">
      <h4 class="heading">REPORTS AND NEWS</h4>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-reports></app-reports>
    </div>
    <div class="col-md-8">
      <app-news></app-news>
    </div>
  </div>
</div>
<app-bb-graph></app-bb-graph>
