<app-profile-card></app-profile-card> <br /><br />
<app-tec-indicator-table></app-tec-indicator-table>
<app-health-slider></app-health-slider>
<app-market-summary [companyCode]="company_name"></app-market-summary>
<app-share-pattern></app-share-pattern>
<app-comparison-table></app-comparison-table>
<app-other-indicators></app-other-indicators>
<div>
  <div class="header">
    <div class="row mb-3">
      <div class="col-md-3 report">
        <b>REPORTS AND NEWS</b>
        <hr style="height: 3px; background: black" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-reports></app-reports>
    </div>
    <div class="col-md-8">
      <app-news></app-news>
    </div>
  </div>
</div>
