.heading {
  padding-top: 4%;
  padding-left: 10px;
  font-weight: bold;
}
.report {
  padding-top: 2%;
  padding-left: 10px;
}
hr {
  text-align: center;
  color: gray;
  height: 5px;
  display: block;
}

.header {
  font-family: "Karla";
  font-style: bold;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.875px;
  color: black;
  padding-left: 0.2%;
}
