.myclass{
    width: 775px;
    position: relative;
}
#DataTables_Table_0{
    width: inherit;
}
table.dataTable{
    border-spacing: 5px;
}
#DataTables_Table_0 > thead > tr > th:nth-child(2){
    background-color: black !important;
}












