.inline {
  display: flex;
}

.slider-content {
  margin: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1720px;
}
.slider-card {
  width: 160px;
  height: 85px;
  margin: 10px 10px 0px 0px;
}
