<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/>
<div *ngIf="obvGraphData.length !==0">
  <h3>On Balance Volume(OBV)</h3>
  <div class="row" style="margin:2em 0em 10em 0em;">
    <div class="col-12">
      <apx-chart
        [series]="lineGraph.series"
        [chart]="lineGraph.chart"
        [xaxis]="lineGraph.xaxis"
        [stroke]="lineGraph.stroke"
        [tooltip]="lineGraph.tooltip"
        [dataLabels]="lineGraph.dataLabels"
        [legend]="lineGraph.legend"
        [markers]="lineGraph.markers"
        [grid]="lineGraph.grid"
        [yaxis]="lineGraph.yaxis"
        [fill]="lineGraph.fill"
        [title]="lineGraph.title"
      ></apx-chart>
    </div>
  </div>
</div>
