<div style="padding-left: 30px;"><b>1. What is stacker.ai?</b><br>
    <p>Answer - stacker.ai provides investors with high-quality technical charts for stocks, funds and indexes from Bangladesh. From our website users can get a clear idea about the current stock trends of the country which will help them in their investment decisions.
     Users can also add technical indicators to analyze stocks and determine advantageous buy and sell levels. Many other kinds of technical charting tools are also available on the website.</p><br>
  
  <b>2. I am new to stacker.ai. Where should I start?</b><br>
    <p> Answer - At the landing page of our website you’ll see a list of stocks and their price, price change information etc. You can visualize data and compare stocks with the chart provided at the lower half of the page. Where you want to go from there is up to you.</p>
  
  
  
  <b>3. I am having trouble using your site. What should I do?</b>
    <p> Answer - If you're experiencing technical difficulties while using stacker.ai, try out some of the options below. These are generally pretty effective at fixing user issues on our website.
     Make sure that you have enabled support for cookies from our site.
     If you have any Internet or Privacy Filters installed, make sure that you have added “stacker.ai” to the “Allowed Sites” lists for those programs.
     Clear your browser's temporary file cache completely. Directions for your browser can be found at: <a href="https://www.refreshyourcache.com/en/home/" target="_blank">https://www.refreshyourcache.com/</a>
     Restart your computer.
     These options will allow you to solve a whole host of problems. If these do not fix your problem, then go to our contact page for more suggestions.</p>
  
  <b>4. Why is your data sometimes different from other sources?</b>
    <p> Answer - Different sources use different formulas to calculate indicators. The formulas that we have used in our website provide more accurate data than existing systems.</p>
  <b>5. What are technical indicators?</b>