<div class="container">
  <div class="page-header text-center">
    FAQ <br />
    <p>
      Here you can find the answers of frequently asked questions about
      STOCKER.AI
    </p>
  </div>
  <div class="qa">
    <div class="question">
      <p>1. What is STOCKER.AI?</p>
    </div>
    <div class="answer">
      <p>
        <b>Answer: </b>STOCKER.AI provides investors with high-quality technical
        charts for stocks, funds and indexes from Bangladesh. From our website
        users can get a clear idea about the current stock trends of the country
        which will help them in their investment decisions. Users can also add
        technical indicators to analyze stocks and determine advantageous buy
        and sell levels. Many other kinds of technical charting tools are also
        available on the website.
      </p>
    </div>
  </div>
  <div class="qa">
    <div class="question">
      <p>2. I am new to STOCKER.AI. Where should I start?</p>
    </div>
    <div class="answer">
      <p>
        <b>Answer: </b>At the landing page of our website you’ll see a list of
        stocks and their price, price change information etc. You can visualize
        data and compare stocks with the chart provided at the lower half of the
        page. Where you want to go from there is up to you.
      </p>
    </div>
  </div>
  <div class="qa">
    <div class="question">
      <p>3. I am having trouble using your site. What should I do?</p>
    </div>
    <div class="answer">
      <p>
        <b>Answer: </b>If you're experiencing technical difficulties while using
        STOCKER.AI, try out some of the options below. These are generally
        pretty effective at fixing user issues on our website.
      </p>
      <ul>
        <li>
          Make sure that you have enabled support for cookies from our site.
        </li>
        <li>
          If you have any Internet or Privacy Filters installed, make sure that
          you have added “STOCKER.AI” to the “Allowed Sites” lists for those
          programs.
        </li>
        <li>
          Clear your browser's temporary file cache completely. Directions for
          your browser can be found at:
          <a href="https://www.refreshyourcache.com/en/home/" target="_blank"
            >https://www.refreshyourcache.com/</a
          >
        </li>
        <li>Try a different browser.</li>
        <li>Try a different device.</li>
        <li>Try a different internet connection.</li>
        <li>Restart your device</li>
      </ul>
      <p>
        These options will allow you to solve a whole host of problems. If these
        do not fix your problem, then go to our contact page for more
        suggestions.
      </p>
    </div>
  </div>

  <div class="qa">
    <div class="question">
      <p>4. Why is your data sometimes different from other sources?</p>
    </div>
    <div class="answer">
      <p>
        <b>Answer: </b>Different sources use different formulas to calculate
        indicators. The formulas that we have used in our website provide more
        accurate data than existing systems.
      </p>
    </div>
  </div>
  <div class="qa">
    <div class="question">
      <p>5. What are technical indicators?</p>
    </div>
    <div class="answer">
      <p>
        <b>Answer: </b>There are seven technical indicators shown in our
        website. They are -
      </p>
      <ul>
        <li>MACD</li>
        <li>ADM</li>
        <li>BB</li>
        <li>RSI</li>
        <li>OBV</li>
        <li>STOC.</li>
        <li>SMA</li>
      </ul>
      <p>
        Do a quick google search to know more about these technical indicators.
      </p>
    </div>
    <div class="qa">
      <div class="question">
        <p>6. Do you provide real time charts for Bangladeshi stocks?</p>
      </div>
      <div class="answer">
        <p>
          <b>Answer: </b>Yes, we provide real time charts for Bangladeshi
          stocks.
        </p>
      </div>
    </div>
    <div class="qa">
      <div class="question">
        <p>7. How much does your service cost?</p>
      </div>
      <div class="answer">
        <p><b>Answer: </b>Currently our service is absolutely free of costs.</p>
      </div>
    </div>
    <div class="qa">
      <div class="question">
        <p>8. Do you have a mobile application?</p>
      </div>
      <div class="answer">
        <p>
          <b>Answer: </b>No, currently we do not have a mobile application..
        </p>
      </div>
    </div>
  </div>
</div>
