.nav-left-padding{
    margin-left: 12%;
    height: 25px;
}
.right-margin{
    margin-right: 12%;
}
.nav-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
.title-left-margin{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}
.nav-item-top-margin{
    margin-top: 2px;
}
