
<div *ngIf="admGraphData.length !==0">
  <h3>Average Directional Movement Index(ADX)</h3>
  <div class="row" style="margin:2em 0em 10em 0em;">
    <div class="col-12">
      <div id="wrapper">
        <div id="chart-line">
            <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [title]="chartOptions1.title"
                [xaxis]="chartOptions1.xaxis"
                [dataLabels]="chartOptions1.dataLabels"
                [colors]="chartOptions1.colors"
                [fill]="chartOptions1.fill"
                [markers]="chartOptions1.markers"
                [yaxis]="chartOptions1.yaxis"
                [stroke]="chartOptions1.stroke">
            </apx-chart>
            </div>
            <div id="chart-line2">
                <apx-chart
                [series]="chartOptions2.series"
                [chart]="chartOptions2.chart"
                [xaxis]="chartOptions2.xaxis"
                [colors]="chartOptions2.colors"
                [fill]="chartOptions2.fill"
                [yaxis]="chartOptions2.yaxis">
                </apx-chart>
            </div>
        </div>
    </div>
  </div>
</div>

