.top-margin {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .row > * {
    padding: 0 !important;
  }
}

.central-div {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.trade-state-div {
  margin-top: 3%;
  margin-left: 2%;

}
