<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/>
<div>
  <div *ngIf="!graphReady">
    <div class="wrapper">
      <div class="inner">
        <mat-spinner></mat-spinner>
      </div>
    </div>
  </div>
  <div *ngIf="graphReady">
    <div class="row" style="margin: 2em 0em 0em 0em">
      <div class="col-md-8">
        <apx-chart
          [series]="lineGraph.series"
          [chart]="lineGraph.chart"
          [xaxis]="lineGraph.xaxis"
          [stroke]="lineGraph.stroke"
          [tooltip]="lineGraph.tooltip"
          [dataLabels]="lineGraph.dataLabels"
          [legend]="lineGraph.legend"
          [markers]="lineGraph.markers"
          [grid]="lineGraph.grid"
          [yaxis]="lineGraph.yaxis"
          [fill]="lineGraph.fill"
          [title]="lineGraph.title"
        ></apx-chart>
      </div>
      <div class="col-md-4" style="align-self: flex-start">
        <div *ngIf="slide == 0">
          <div class="row text-wrap">
            <div class="col-6">
              <div class="box">
                PREV CLOSE<br />
                <span>
                  <b>{{ marketSummary.YCP }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                OPEN<br />
                <span>
                  <b>{{ marketSummary.OpenPrice }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                DAYS RANGE<br />
                <span>
                  <b>{{ marketSummary.DayRange }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                52-WEEK RANGE<br />
                <span>
                  <b>{{ marketSummary.Week52Range }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                Q1 EPS<br />
                <span>
                  <b>{{ marketSummary.Q1Eps }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                Q2 EPS<br />
                <span>
                  <b>{{ marketSummary.Q2Eps }}</b>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="box">
                Q3 EPS<br />
                <span>
                  <b>{{ marketSummary.Q3Eps }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                Q4 EPS<br />
                <span>
                  <b>{{ marketSummary.Q4Eps }}</b>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="box">
                AUTHORIZED CAPITAL(MN)<br />
                <span>
                  <b>{{ marketSummary.AuthorizedCap }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                PAID-UP-CAP(MN) <br />
                <span>
                  <b>{{ marketSummary.PaidUpCap }}</b>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="slide == 1">
          <div class="row text-wrap">
            <div class="col-6">
              <div class="box">
                MCCAP(TK IN MN)<br />
                <span>
                  <b>{{ marketSummary.MCCAP }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                TOTAL VOLUME<br />
                <span>
                  <b>{{ marketSummary.Volume }}</b>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="box">
                6M RETURN<br />
                <span>
                  <b>{{ marketSummary["6M_Return"] }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                1Y RETURN<br />
                <span>
                  <b>{{ marketSummary["1Y_Return"] }}%</b>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="box">
                LAST AGM<br />
                <span>
                  <b>{{ marketSummary.LastAGMHeld }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                LISTED SINCE<br />
                <span>
                  <b>{{ marketSummary.ListingYear }}</b>
                </span>
              </div>
            </div>

            <div class="col-6">
              <div class="box">
                CATEGORY<br />
                <span>
                  <b>{{ marketSummary.MarketCategory }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                CREDIT RATING<br />
                <span>
                  <b>{{ marketSummary.Credit_rating }}</b>
                </span>
              </div>
            </div>
            <div class="col-6">
              <div class="box">
                TOTAL SHARES<br />
                <span>
                  <b>{{ marketSummary.Total_shares }}</b>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="mini-wrapper">
          <div class="inner">
            <button
              (click)="previous()"
              style="background-color: transparent; border: 0px"
            >
              <i class="fa fa-solid fa-chevron-left"></i>
            </button>
            <i
              style="margin-left: 6em"
              [style.color]="slide == 0 ? '#000' : '#a3a3a3'"
              class="fa-solid fa-circle-dot"
            ></i>
            <i
              style="margin-left: 2em; margin-right: 6em; color: grey"
              [style.color]="slide == 1 ? '#000' : '#a3a3a3'"
              class="fa-solid fa-circle-dot"
            ></i>
            <button
              (click)="next()"
              style="background-color: transparent; border: 0px"
            >
              <i class="fa fa-solid fa-chevron-right"></i>
            </button>
          </div>
        </div>

        <div
          style="text-align: center; margin-left: 60px; margin-top: 20px"
        ></div>
      </div>
    </div>
  </div>
</div>
