<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/>
<div class="header">
  <div class="row">
    <div class="col-md-12 report">
      <b>COMPANY PROFILE</b>
      <hr style="height: 2px; background: black" />
    </div>
  </div>
</div>
<br />

<div class="row p-2">
  <div class="col-md-6 left">
    <br />
    <h2>XYZ COMPANY LIMITED</h2>
    <br />
    <h5>YEAR END <b>JUNE</b></h5>
    <h5>INCORPORATION <b>1976</b></h5>
    <h5>COMMECEMENT OF OPERATION <b>N/A</b></h5>
    <h5>LISTING YEAR <b>DSE1893</b></h5>
    <h5>SCRIPT CODE <b>DSE-123</b></h5>
    <h5>DEBUT TRADING DATE <b>NOV, 1995</b></h5>
  </div>
  <div class="col-md-6 right">
    <br />
    <div class="d-flex justify-content-end">
      <i class="fa-brands fa-instagram fa-2x" style="padding: 5px"></i>
      <i class="fa-brands fa-facebook-f fa-2x" style="padding: 5px"></i>
      <i class="fa-brands fa-youtube fa-2x" style="padding: 5px"></i>
    </div>
    <br /><br />
    <p style="font-size: 15px">
      Bangladesh Export Import Company Limited, commonly known by its trade name
      BEXIMCO, is a multinational conglomerate holding company, headquartered in
      Dhaka, Bangladesh. It was founded in the early 1970s. Beximco is
      Bangladesh's largest conglomerate, with the largest market capitalisation
      on the country's stock market.
    </p>
  </div>
</div>
<button
  (click)="navigateToGraphPage()"
  class="navigation-btn"
  mat-raised-button
  color="primary"
>
  Graph Page
</button>
