/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
#DataTables_Table_0 {
  text-align: center;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  left: 1px;
}
#DataTables_Table_0_wrapper {
  border-collapse: separate;
  border-spacing: 0 1em;
  color: black;
}

#DataTables_Table_0 > tbody > tr > td {
  background-color: #f4f4f2;
}
#DataTables_Table_0 > thead > tr > th {
  background-color: rgb(49, 43, 43) !important;
  color: white !important;
  text-align: center;
}
a {
  text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: rgb(143, 142, 142) !important;
}
#DataTables_Table_0 {
  margin: 0px !important;
  width: 100% !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
